<div *ngIf="expedition && selectedQuests">
    <nz-collapse>
        <nz-collapse-panel nzHeader="所需要的远征" nzActive="true">
            <nz-table #sourceData [nzData]="expedition">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Consume Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sourceData.data">
                        <td>{{data.api_disp_no}}</td>
                        <td>{{data.api_name}}</td>
                        <td>{{data.api_time}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-collapse-panel>
    </nz-collapse>
</div>