<div *ngIf="expedition && selectedQuests.length>0">
    <nz-collapse>
        <nz-collapse-panel nzHeader="所需要的远征" nzActive="true">
            <nz-table #sourceData [nzData]="selectedQuestsExpeditionList">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Consume Time(min)</th>
                        <th>Need Count</th>
                        <th>Quest Codes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sourceData.data">
                        <td>{{data.expedition_code}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.expedition_consume_time}}</td>
                        <td>{{data.expedition_need_count}}</td>
                        <td>{{ data.quest_codes.join(', ') }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-collapse-panel>
    </nz-collapse>
</div>